<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pseudolabs.flamesplus"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
<uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/flogo"
        android:label="@string/app_name"
        android:logo="@drawable/flogo"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.startapp.android.DEV_ID" android:value= "112471062"/>
<meta-data android:name="com.startapp.android.APP_ID" android:value= "212141050"/>

        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <service android:enabled="true" android:name="com.apperhand.device.android.AndroidSDKProvider"/>
        <activity android:name="com.apperhand.device.android.EULAActivity"
android:theme="@android:style/Theme.Translucent"
android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name=".MainActivity"
             android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            
        </activity>
        <activity
            android:name=".HomeActivity"
             android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mode2Activity"
           android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        </activity>
        <activity
            android:name=".Mode3Activity"
           android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
           
        </activity>


        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

    </application>

</manifest>